body {
    display: grid;
}

.bookWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

button {
    min-width: -webkit-fill-available;
    font-size: 2rem;
    justify-self: center;
    padding: 2rem;
}

form {
    margin: 5rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

input[type='text'], input[type='number'] {
    font-size: 2rem;
    padding: 1rem;
    border: 3px solid black;
    border-radius: 0.5rem;
}

input[type='checkbox'] {
    min-width: 2rem;
    min-height: 2rem;
    margin: 0;
    margin-right: 2rem;
    justify-self: self-end;
}

.book {
    font-size: 2rem;
    padding: 2rem;
    border: 3px black solid;
    border-radius: 0.5rem;
}

.hidden {
    display: none;
}